---
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"
import { FiTrash2 } from "react-icons/fi"

const apps = await Astro.locals.db.apps.getByUserId(Astro.locals.user.id)
---

<Table>
  <TableCaption>Your Apps</TableCaption>
  <TableHeader>
    <TableRow>
      <TableHead>Repo</TableHead>
      <TableHead>URL</TableHead>
      <TableHead>Status</TableHead>
      <TableHead>Actions</TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    {
      apps.length === 0 && (
        <TableRow>
          <TableCell colSpan="4" class="text-center">
            No apps found
          </TableCell>
        </TableRow>
      )
    }
    {
      apps.map((app: AppRow) => (
        <TableRow key={app.id}>
          <TableCell>
            <a
              href={`https://github.com/${app.githubOwner}/${app.repo}/tree/${app.commitHash}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              {app.githubOwner}/{app.repo}
            </a>
          </TableCell>

          <TableCell>
            <a
              href={`https://${app.id}.brandon-4fb.workers.dev`}
              target="_blank"
              rel="noopener noreferrer"
            >
              {`https://${app.id}.brandon-4fb.workers.dev`}
            </a>
          </TableCell>
          <TableCell>
            {app.githubWorkflowRunId && app.githubWorkflowJobId ? (
              <a
                href={`https://github.com/codius/codius-astro/actions/runs/${app.githubWorkflowRunId}/job/${app.githubWorkflowJobId}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                {app.status}
              </a>
            ) : (
              app.status
            )}
          </TableCell>
          <TableCell>
            <button
              aria-label="Delete app"
              class="delete-app"
              data-app-id={app.id}
            >
              <FiTrash2 />
            </button>
          </TableCell>
        </TableRow>
      ))
    }
  </TableBody>
</Table>

<script>
  import { actions } from "astro:actions"

  const deleteButtons = document.querySelectorAll("button.delete-app")

  deleteButtons.forEach((button) => {
    button.addEventListener("click", async () => {
      const appId = button.dataset.appId
      await actions.deleteApp({ id: appId })
      window.location.reload()
    })
  })
</script>
