---
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"
import { FiTrash2 } from "react-icons/fi"

type AppRow = {
  id: string
  userId: string
  githubOwner: string
  repo: string
  branch: string
  commitHash: string
  directory: string | null
  status: string
}

const { results: apps } = await Astro.locals.runtime.env.DB.prepare(
  "SELECT * FROM apps WHERE userId = ?1",
)
  .bind(Astro.locals.user.id)
  .all<AppRow>()
---

<Table>
  <TableCaption>Your Apps</TableCaption>
  <TableHeader>
    <TableRow>
      <TableHead>Repo</TableHead>
      <TableHead>Commit</TableHead>
      <TableHead>Status</TableHead>
      <TableHead>Actions</TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    {
      apps.length === 0 && (
        <TableRow>
          <TableCell colSpan="4" class="text-center">
            No apps found
          </TableCell>
        </TableRow>
      )
    }
    {
      apps.map((app: AppRow) => (
        <TableRow key={app.id}>
          <TableCell>
            <a
              href={`https://github.com/${app.githubOwner}/${app.repo}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              {app.githubOwner}/{app.repo}
            </a>
          </TableCell>

          <TableCell>
            <a
              href={`https://github.com/${app.githubOwner}/${app.repo}/commit/${app.commitHash}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              {app.commitHash}
            </a>
          </TableCell>
          <TableCell>{app.status}</TableCell>
          <TableCell>
            <button
              aria-label="Delete app"
              class="delete-app"
              data-app-id={app.id}
            >
              <FiTrash2 />
            </button>
          </TableCell>
        </TableRow>
      ))
    }
  </TableBody>
</Table>

<script>
  import { actions } from "astro:actions"

  const deleteButtons = document.querySelectorAll("button.delete-app")

  deleteButtons.forEach((button) => {
    button.addEventListener("click", async () => {
      const appId = button.dataset.appId
      await actions.deleteApp({ id: appId })
      window.location.reload()
    })
  })
</script>
